extends ../common/common

block content
    h1 Renter Sign Up
    if errors
        each error in errors
            .alert.alert-danger= error

    form(action="/signup/renter", method="POST")
        .form-group
            label(for="email") Email
            input#email.form-control(type="email", name="email", value= values ? values.email : '')
        .form-group
            label(for="name") Name
            input#password.form-control(type="text", name="name", value= values ? values.name : '')
        .form-group
            label(for="password") Password
            input#password.form-control(type="password", name="password", value= values ? values.password : '')
        .form-group
            label(for="cf_pass") Confirm Password
            input#cf_pass.form-control(type="password", name="cf_pass" value= values ? values.cf_pass : '')

        button.btn.btn-primary Sign Up