extends ../common/common

block content
    if user
        h1 Hello Admin #{user.name}
    ul.nav
        li.nav-item
            a.nav-link Notifications
        li.nav-item
            a.nav-link Manage Account
        li.nav-item
            a.nav-link Manage Post
        li.nav-item
            a.nav-link Post
        li.nav-item
            a.nav-link Statistics
    
