extends ../common/common

block content
    if user
        h1 Hello #{user.name}
    ul.nav
        li.nav-item
            a.nav-link Notifications
        li.nav-item
            a.nav-link Post
        li.nav-item
            a.nav-link Edit
        li.nav-item
            a.nav-link Statistics